missiletargeting.csv !filter !diff !merge text
spellrange.csv !filter !diff !merge text
ribbonquality.csv !filter !diff !merge text
location.csv !filter !diff !merge text
gametips.csv !filter !diff !merge text
questfactionreward.csv !filter !diff !merge text
spellprocsperminute.csv !filter !diff !merge text
modifiertree.csv !filter !diff !merge text
worldlayermapset.csv !filter !diff !merge text
creaturesoundfidget.csv !filter !diff !merge text
spellproceduraleffect.csv !filter !diff !merge text
weather.csv !filter !diff !merge text
beameffect.csv !filter !diff !merge text
clientsettings.csv !filter !diff !merge text
powerdisplay.csv !filter !diff !merge text
chrcustomizationchoice.csv !filter !diff !merge text
objecteffectpackageelem.csv !filter !diff !merge text
overridespelldata.csv !filter !diff !merge text
mapdifficulty.csv !filter !diff !merge text
importpriceweapon.csv !filter !diff !merge text
exhaustion.csv !filter !diff !merge text
spellcraftui.csv !filter !diff !merge text
decalproperties.csv !filter !diff !merge text
creaturetype.csv !filter !diff !merge text
itemdamageonehandcaster.csv !filter !diff !merge text
chrmodelmaterial.csv !filter !diff !merge text
tiertransition.csv !filter !diff !merge text
itemgroupsounds.csv !filter !diff !merge text
guildemblem.csv !filter !diff !merge text
creaturedifficulty.csv !filter !diff !merge text
itemappearance.csv !filter !diff !merge text
itemsubclass.csv !filter !diff !merge text
weatherxparticulate.csv !filter !diff !merge text
importpriceshield.csv !filter !diff !merge text
charbaseinfo.csv !filter !diff !merge text
broadcasttext.csv !filter !diff !merge text
itemdamagewand.csv !filter !diff !merge text
guildtabardborder.csv !filter !diff !merge text
emotestext.csv !filter !diff !merge text
gamemode.csv !filter !diff !merge text
particlecolor.csv !filter !diff !merge text
spellvisualmissile.csv !filter !diff !merge text
uimap.csv !filter !diff !merge text
questxp.csv !filter !diff !merge text
soundenvelope.csv !filter !diff !merge text
itempricebase.csv !filter !diff !merge text
conditionalcreaturemodeldata.csv !filter !diff !merge text
transformmatrix.csv !filter !diff !merge text
lightworldshadow.csv !filter !diff !merge text
groupfindercategory.csv !filter !diff !merge text
vehicleseat.csv !filter !diff !merge text
hotfixes.csv !filter !diff !merge text
itemsubclassmask.csv !filter !diff !merge text
edgegloweffect.csv !filter !diff !merge text
spellreagents.csv !filter !diff !merge text
spelldispeltype.csv !filter !diff !merge text
itembagfamily.csv !filter !diff !merge text
traitnodeentry.csv !filter !diff !merge text
locale.csv !filter !diff !merge text
movie.csv !filter !diff !merge text
itemrangeddisplayinfo.csv !filter !diff !merge text
spellcasttimes.csv !filter !diff !merge text
itemdisplayinfo.csv !filter !diff !merge text
armorlocation.csv !filter !diff !merge text
itemextendedcost.csv !filter !diff !merge text
spellvisualkitmodelattach.csv !filter !diff !merge text
soundambience.csv !filter !diff !merge text
chatprofanity.csv !filter !diff !merge text
positionerstate.csv !filter !diff !merge text
worldeffect.csv !filter !diff !merge text
creaturemodeldata.csv !filter !diff !merge text
worldstatezonesounds.csv !filter !diff !merge text
spellxspellvisual.csv !filter !diff !merge text
numtalentsatlevel.csv !filter !diff !merge text
mapdifficultyredirect.csv !filter !diff !merge text
liquidobject.csv !filter !diff !merge text
spellpower.csv !filter !diff !merge text
lightdata.csv !filter !diff !merge text
volumefogcondition.csv !filter !diff !merge text
npcsounds.csv !filter !diff !merge text
fullscreeneffect.csv !filter !diff !merge text
manifestinterfaceactionicon.csv !filter !diff !merge text
spelldescriptionvariables.csv !filter !diff !merge text
spellcategories.csv !filter !diff !merge text
charbasesection.csv !filter !diff !merge text
cinematiccamera.csv !filter !diff !merge text
chrclasses.csv !filter !diff !merge text
chrraces.csv !filter !diff !merge text
pathnode.csv !filter !diff !merge text
creaturedisplayinfoextra.csv !filter !diff !merge text
holidays.csv !filter !diff !merge text
cameraeffectentry.csv !filter !diff !merge text
movievariation.csv !filter !diff !merge text
chrcustomizationcategory.csv !filter !diff !merge text
stationery.csv !filter !diff !merge text
creature.csv !filter !diff !merge text
animkitsegment.csv !filter !diff !merge text
questinfo.csv !filter !diff !merge text
moviefiledata.csv !filter !diff !merge text
traitnodegroupxtraitnode.csv !filter !diff !merge text
itemdamageammo.csv !filter !diff !merge text
uicanvas.csv !filter !diff !merge text
traitnodextraitnodeentry.csv !filter !diff !merge text
namesreservedlocale.csv !filter !diff !merge text
footstepterrainlookup.csv !filter !diff !merge text
creaturedisplayinfo.csv !filter !diff !merge text
spellxdescriptionvariables.csv !filter !diff !merge text
characterloadoutitem.csv !filter !diff !merge text
cinematicsequences.csv !filter !diff !merge text
battlemasterlist.csv !filter !diff !merge text
chrcustomizationoption.csv !filter !diff !merge text
environmentaldamage.csv !filter !diff !merge text
uitextureatlasmember.csv !filter !diff !merge text
lightparams.csv !filter !diff !merge text
material.csv !filter !diff !merge text
loadingscreentaxisplines.csv !filter !diff !merge text
questfeedbackeffect.csv !filter !diff !merge text
namesreserved.csv !filter !diff !merge text
factiongroup.csv !filter !diff !merge text
uiscriptedanimationeffect.csv !filter !diff !merge text
pvpdifficulty.csv !filter !diff !merge text
itemreforge.csv !filter !diff !merge text
itemdamagetwohand.csv !filter !diff !merge text
itemrandomproperties.csv !filter !diff !merge text
unitblood.csv !filter !diff !merge text
creaturedisplayinfooption.csv !filter !diff !merge text
uimapartstylelayer.csv !filter !diff !merge text
terraintype.csv !filter !diff !merge text
loadingscreens.csv !filter !diff !merge text
groupfinderactivitygrp.csv !filter !diff !merge text
scenescriptpackagemember.csv !filter !diff !merge text
chrracexchrmodel.csv !filter !diff !merge text
mailtemplate.csv !filter !diff !merge text
itemsparse.csv !filter !diff !merge text
worldchunksounds.csv !filter !diff !merge text
chrcustomizationgeoset.csv !filter !diff !merge text
phase.csv !filter !diff !merge text
skilllinecategory.csv !filter !diff !merge text
spellvisualkit.csv !filter !diff !merge text
spellfocusobject.csv !filter !diff !merge text
areatrigger.csv !filter !diff !merge text
spellequippeditems.csv !filter !diff !merge text
spellcastingrequirements.csv !filter !diff !merge text
animkit.csv !filter !diff !merge text
chrcustomizationconversion.csv !filter !diff !merge text
weaponimpactsounds.csv !filter !diff !merge text
uiwidget.csv !filter !diff !merge text
uiwidgetvisualization.csv !filter !diff !merge text
itemdisplayinfomaterialres.csv !filter !diff !merge text
creatureimmunities.csv !filter !diff !merge text
uimodelscenecamera.csv !filter !diff !merge text
soundkitchild.csv !filter !diff !merge text
groundeffecttexture.csv !filter !diff !merge text
soundproviderpreferences.csv !filter !diff !merge text
itemarmorquality.csv !filter !diff !merge text
charcomponenttexturesections.csv !filter !diff !merge text
mapdifficultyxcondition.csv !filter !diff !merge text
worldmapoverlay.csv !filter !diff !merge text
chrclassesxpowertypes.csv !filter !diff !merge text
lightskybox.csv !filter !diff !merge text
itemdisenchantloot.csv !filter !diff !merge text
spelltotems.csv !filter !diff !merge text
areagroupmember.csv !filter !diff !merge text
uitextureatlaselement.csv !filter !diff !merge text
wmoareatable.csv !filter !diff !merge text
zonemusic.csv !filter !diff !merge text
dungeonencounter.csv !filter !diff !merge text
positioner.csv !filter !diff !merge text
spellvisual.csv !filter !diff !merge text
difficulty.csv !filter !diff !merge text
deaththudlookups.csv !filter !diff !merge text
pagetextmaterial.csv !filter !diff !merge text
chrcustomizationreq.csv !filter !diff !merge text
worldshadow.csv !filter !diff !merge text
map.csv !filter !diff !merge text
spellvisualanim.csv !filter !diff !merge text
lightparamslightshaft.csv !filter !diff !merge text
virtualattachment.csv !filter !diff !merge text
gameobjects.csv !filter !diff !merge text
talenttab.csv !filter !diff !merge text
petloyalty.csv !filter !diff !merge text
namesprofanity.csv !filter !diff !merge text
voiceoverpriority.csv !filter !diff !merge text
chrcustomization.csv !filter !diff !merge text
chrmodeltexturelayer.csv !filter !diff !merge text
gameobjectdisplayinfo.csv !filter !diff !merge text
spellcategory.csv !filter !diff !merge text
spellvisualeffectname.csv !filter !diff !merge text
spell.csv !filter !diff !merge text
itemarmorshield.csv !filter !diff !merge text
scenescriptpackage.csv !filter !diff !merge text
resistances.csv !filter !diff !merge text
languages.csv !filter !diff !merge text
scheduledinterval.csv !filter !diff !merge text
animkitpriority.csv !filter !diff !merge text
chrmodel.csv !filter !diff !merge text
phasexphasegroup.csv !filter !diff !merge text
creaturesounddata.csv !filter !diff !merge text
spellvisualkiteffect.csv !filter !diff !merge text
objecteffect.csv !filter !diff !merge text
animkitreplacement.csv !filter !diff !merge text
traitnode.csv !filter !diff !merge text
charhairgeosets.csv !filter !diff !merge text
wbaccesscontrollist.csv !filter !diff !merge text
creaturexdisplayinfo.csv !filter !diff !merge text
uitextureatlaselementslicedata.csv !filter !diff !merge text
lfgdungeons.csv !filter !diff !merge text
gameobjectartkit.csv !filter !diff !merge text
spammessages.csv !filter !diff !merge text
worldstateui.csv !filter !diff !merge text
worldstateexpression.csv !filter !diff !merge text
charcomponenttexturelayouts.csv !filter !diff !merge text
petpersonality.csv !filter !diff !merge text
battlepaycurrency.csv !filter !diff !merge text
achievement.csv !filter !diff !merge text
animationdata.csv !filter !diff !merge text
texturefiledata.csv !filter !diff !merge text
questsort.csv !filter !diff !merge text
spotlightconditionmap.csv !filter !diff !merge text
componentmodelfiledata.csv !filter !diff !merge text
itemlimitcategory.csv !filter !diff !merge text
languagewords.csv !filter !diff !merge text
spellauravisibility.csv !filter !diff !merge text
spellauravisxtalenttab.csv !filter !diff !merge text
cameramode.csv !filter !diff !merge text
uimaparttile.csv !filter !diff !merge text
uitexturekit.csv !filter !diff !merge text
spellaurarestrictions.csv !filter !diff !merge text
criteria.csv !filter !diff !merge text
characterfacialhairstyles.csv !filter !diff !merge text
house.csv !filter !diff !merge text
bannedaddons.csv !filter !diff !merge text
summonproperties.csv !filter !diff !merge text
componenttexturefiledata.csv !filter !diff !merge text
worldmapoverlaytile.csv !filter !diff !merge text
gossipnpcoptiondisplayinfo.csv !filter !diff !merge text
scalingstatvalues.csv !filter !diff !merge text
skillraceclassinfo.csv !filter !diff !merge text
helmetgeosetdata.csv !filter !diff !merge text
questmoneyreward.csv !filter !diff !merge text
soundkitentry.csv !filter !diff !merge text
dissolveeffect.csv !filter !diff !merge text
playercondition.csv !filter !diff !merge text
vocaluisounds.csv !filter !diff !merge text
factiontemplate.csv !filter !diff !merge text
animreplacement.csv !filter !diff !merge text
itemnamedescription.csv !filter !diff !merge text
gmsurveyquestions.csv !filter !diff !merge text
animkitconfig.csv !filter !diff !merge text
itemsearchname.csv !filter !diff !merge text
itempetfood.csv !filter !diff !merge text
itemclass.csv !filter !diff !merge text
uiwidgetmap.csv !filter !diff !merge text
soundambienceflavor.csv !filter !diff !merge text
traittree.csv !filter !diff !merge text
conversationline.csv !filter !diff !merge text
spelltargetrestrictions.csv !filter !diff !merge text
uimodelsceneactordisplay.csv !filter !diff !merge text
itemmodifiedappearance.csv !filter !diff !merge text
path.csv !filter !diff !merge text
spellname.csv !filter !diff !merge text
itemsetspell.csv !filter !diff !merge text
transportanimation.csv !filter !diff !merge text
uiwidgetset.csv !filter !diff !merge text
taxipath.csv !filter !diff !merge text
footprinttextures.csv !filter !diff !merge text
spellduration.csv !filter !diff !merge text
powertype.csv !filter !diff !merge text
uimapassignment.csv !filter !diff !merge text
gmsurveysurveys.csv !filter !diff !merge text
traitnodegroup.csv !filter !diff !merge text
positionerstateentry.csv !filter !diff !merge text
uimapxmapart.csv !filter !diff !merge text
creaturedisplayinfogeosetdata.csv !filter !diff !merge text
taxipathnode.csv !filter !diff !merge text
groundeffectdoodad.csv !filter !diff !merge text
screeneffect.csv !filter !diff !merge text
uiwidgetxwidgetset.csv !filter !diff !merge text
emotestextdata.csv !filter !diff !merge text
spellshapeshift.csv !filter !diff !merge text
itemrandomsuffix.csv !filter !diff !merge text
durabilitycosts.csv !filter !diff !merge text
soundoverride.csv !filter !diff !merge text
spelldiminish.csv !filter !diff !merge text
chrcustomizationmaterial.csv !filter !diff !merge text
spellchaineffects.csv !filter !diff !merge text
curve.csv !filter !diff !merge text
vehicle.csv !filter !diff !merge text
faction.csv !filter !diff !merge text
spelleffect.csv !filter !diff !merge text
itemvisualsxeffect.csv !filter !diff !merge text
contenttuning.csv !filter !diff !merge text
uiexpansiondisplayinfo.csv !filter !diff !merge text
soundmixgroup.csv !filter !diff !merge text
unitcondition.csv !filter !diff !merge text
skillline.csv !filter !diff !merge text
guildtabardbackground.csv !filter !diff !merge text
uiwidgetstringsource.csv !filter !diff !merge text
skilllineability.csv !filter !diff !merge text
item.csv !filter !diff !merge text
gossipnpcoption.csv !filter !diff !merge text
cameraeffect.csv !filter !diff !merge text
zoneintromusictable.csv !filter !diff !merge text
commentatorstartlocation.csv !filter !diff !merge text
randproppoints.csv !filter !diff !merge text
spellvisualevent.csv !filter !diff !merge text
tactkeylookup.csv !filter !diff !merge text
paperdollitemframe.csv !filter !diff !merge text
lock.csv !filter !diff !merge text
talent.csv !filter !diff !merge text
spelllabel.csv !filter !diff !merge text
curvepoint.csv !filter !diff !merge text
totemcategory.csv !filter !diff !merge text
locktype.csv !filter !diff !merge text
pathproperty.csv !filter !diff !merge text
liquidtype.csv !filter !diff !merge text
uimodelscene.csv !filter !diff !merge text
spellmechanic.csv !filter !diff !merge text
light.csv !filter !diff !merge text
itemvisuals.csv !filter !diff !merge text
globalplayerconditionset.csv !filter !diff !merge text
areatriggeractionset.csv !filter !diff !merge text
gradienteffect.csv !filter !diff !merge text
itemdamageranged.csv !filter !diff !merge text
soundemitters.csv !filter !diff !merge text
areatriggersphere.csv !filter !diff !merge text
importpricequality.csv !filter !diff !merge text
startupfiles.csv !filter !diff !merge text
emotes.csv !filter !diff !merge text
gameobjectdisplayinfoxsoundkit.csv !filter !diff !merge text
uitextureatlas.csv !filter !diff !merge text
characterloadout.csv !filter !diff !merge text
battlemasterlistxmap.csv !filter !diff !merge text
soundkitadvanced.csv !filter !diff !merge text
tactkey.csv !filter !diff !merge text
durabilityquality.csv !filter !diff !merge text
scenescript.csv !filter !diff !merge text
combatcondition.csv !filter !diff !merge text
itemdisplayinfomodelmatres.csv !filter !diff !merge text
manifestinterfacedata.csv !filter !diff !merge text
itemmodifiedappearanceextra.csv !filter !diff !merge text
spelllevels.csv !filter !diff !merge text
lightshaft.csv !filter !diff !merge text
globalcurve.csv !filter !diff !merge text
wmomaxscale.csv !filter !diff !merge text
guildtabardemblem.csv !filter !diff !merge text
uiwidgetvistypedatareq.csv !filter !diff !merge text
soundbus.csv !filter !diff !merge text
configurationwarning.csv !filter !diff !merge text
chatchannels.csv !filter !diff !merge text
animkitboneset.csv !filter !diff !merge text
spellcooldowns.csv !filter !diff !merge text
itemarmortotal.csv !filter !diff !merge text
criteriatree.csv !filter !diff !merge text
itemdamageonehand.csv !filter !diff !merge text
emotestextsound.csv !filter !diff !merge text
spellauraoptions.csv !filter !diff !merge text
catalogshopgametitleinfo.csv !filter !diff !merge text
namegen.csv !filter !diff !merge text
itemset.csv !filter !diff !merge text
importpricearmor.csv !filter !diff !merge text
creaturespelldata.csv !filter !diff !merge text
tradeskillitem.csv !filter !diff !merge text
spellradius.csv !filter !diff !merge text
npcmodelitemslotdisplayinfo.csv !filter !diff !merge text
itemdamagethrown.csv !filter !diff !merge text
creaturefamily.csv !filter !diff !merge text
areatable.csv !filter !diff !merge text
globalcolor.csv !filter !diff !merge text
unitbloodlevels.csv !filter !diff !merge text
spellspecialuniteffect.csv !filter !diff !merge text
windsettings.csv !filter !diff !merge text
groupfinderactivity.csv !filter !diff !merge text
terraintypesounds.csv !filter !diff !merge text
textureblendset.csv !filter !diff !merge text
bankbagslotprices.csv !filter !diff !merge text
servermessages.csv !filter !diff !merge text
highlightcolor.csv !filter !diff !merge text
uiwidgetdatasource.csv !filter !diff !merge text
gmsurveycurrentsurvey.csv !filter !diff !merge text
scenescripttext.csv !filter !diff !merge text
spellinterrupts.csv !filter !diff !merge text
stableslotprices.csv !filter !diff !merge text
spellshapeshiftform.csv !filter !diff !merge text
liquidmaterial.csv !filter !diff !merge text
uiwidgetconstantsource.csv !filter !diff !merge text
charstartoutfit.csv !filter !diff !merge text
spellvisualkitareamodel.csv !filter !diff !merge text
spellmissilemotion.csv !filter !diff !merge text
traitdefinition.csv !filter !diff !merge text
auctionhouse.csv !filter !diff !merge text
characterserviceinfo.csv !filter !diff !merge text
globalplayercondition.csv !filter !diff !merge text
itemdamagetwohandcaster.csv !filter !diff !merge text
spellitemenchantment.csv !filter !diff !merge text
soundkit.csv !filter !diff !merge text
manifestinterfaceitemicon.csv !filter !diff !merge text
taxinodes.csv !filter !diff !merge text
areapoi.csv !filter !diff !merge text
uimodelsceneactor.csv !filter !diff !merge text
creaturemovementinfo.csv !filter !diff !merge text
uimapart.csv !filter !diff !merge text
spellmisc.csv !filter !diff !merge text
chrcustomizationelement.csv !filter !diff !merge text
itemeffect.csv !filter !diff !merge text
spellclassoptions.csv !filter !diff !merge text
modelfiledata.csv !filter !diff !merge text
globalstrings.csv !filter !diff !merge text
wmominimaptexture.csv !filter !diff !merge text
animkitconfigboneset.csv !filter !diff !merge text
animreplacementset.csv !filter !diff !merge text
areatriggercreateproperties.csv !filter !diff !merge text
